<section id="new_post_card" class="glassy card_new" style="display: none;">
    <form>
        <div class="card_header">
            <input style="color: rgb(255, 247, 238)" class="form-input" type="text" id="new_blog_title" placeholder="NEW BLOG TITLE" />
        </div>
        <div>
            <textarea class="glassy_textblock" rows="10" type="textarea" id="new_blog_content" placeholder="NEW BLOG CONTENT"></textarea>
        </div>
        <button id="submit_new_blog" class="nav_button join_button" type="submit">Submit</button>
    </form>
        
</section>