<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>The BLOG</title>
</head>
<body>
    <header class="nav_bar">
        <div class="logo-box">
            <a class="nav_button" href="/"><img id="TheBlog"></a>
        </div>
        <nav>
            {{#if logged_in }}
            <a class="nav_button" href="/feed">HOME</a>
            <a class="nav_button" href="/dashboard">DASHBOARD</a>
            <button id="logout" class="nav_button join_button">LOGOUT</button>
            {{else}}
            <a class="nav_button" href="/login">
                <button id="login" class="join_button">LOGIN</button>
            </a>
            {{/if}}
        </nav>
    </header>
    <main id="background_photo">
        {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="./js/card_functions.js"></script>
</body>
</html> 