<section class="entrySection">
    <form name="login_form" class="opaquish card" id="login_form">
        <h3 class="center">LOGIN</h3>
        <table>
            <tr>
                <td><label for="email-login">email:</label></td>
                <td><input class="form-input" type="text" id="email-login"  /></td>
            </tr>
            <tr>
                <td><label for="password-login">password:</label></td>
                <td><input class="form-input" type="password" id="password-login" /></td>
            </tr>
        </table>
        <div class="center">
            <button class="nav_button join_button" type="submit">LOGIN</button>
        </div>
        <a id="new_user_signup" class="center">New User Sign Up</a>
    </form>
    <form name="signup_form" class="opaquish card" style="display: none;" id="signup_form">
        <h3 class="center">SIGN-UP</h3>
        <table>
            <tr>
                <td><label for="name-signup">username:</label></td>
                <td><input class="form-input" type="text" id="name-signup" /></td>
            </tr>
            <tr>
                <td><label for="email-signup">email:</label></td>
                <td><input class="form-input" type="text" id="email-signup" /></td>
            </tr>
            <tr>
                <td><label for="password-signup">password:</label></td>
                <td><input class="form-input" type="password" id="password-signup" /></td>
            </tr>
        </table>
        <div class="center">
            <button  class="nav_button join_button" type="submit">SIGN-UP</button>
        </div>
        <a id="already_have_account" class="center">Already have an account?</a>
    </form>
    <script src="./js/login.js"></script>
</section>