* {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-weight: 500;
    color: var(--inverse-font);
}



:root {
    --nav-color: transparent;
    --background: transparent;
    --scale: ease all .2s;
    --font-color: rgb(0, 0, 0);
    --inverse-font: rgb(229, 255, 0);
    --shadow: -4px 4px 4px 4px #000000b2;
    --text-shadow: -3px 2px 4px black;
}

h1 {
    color: var(--font-color);
    font-weight: 700;
}

h2 {
    color: var(--inverse-font);
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-size: 40px;
    font-weight: 500;
}

h4 {
    font-size: 25px;
    font-weight: 500;
}

h5 {
    color: var(--inverse-font);
    font-size: 20px;
    font-weight: 600;
}

h6 {
    color: var(--inverse-font);
    font-size: 15px;
    font-weight: 300;
}

body {
    background-image: url('../images/piper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 200vh;
    color: var(--font-color);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form {
    display: gird;
    grid-template-columns: 1fr 3fr;
}

.form-input {
    color: var(--inverse-font);
}


.nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-color);
    transition: var(--scale);

}

.logo-box {
    margin: 10px;
    background-color: var(--nav-color);
    transition: var(--scale);
}

.logo-box h1 {
    padding: 5px;
    white-space: nowrap;
    transition: var(--scale);
}


.nav_bar nav {
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav_button {
    color: var(--font-color);
    display: flex;
    list-style: none;
    padding: 0 10px;
    font-weight: 666;
    font-size: larger;
    text-decoration: none;
    background-color: transparent;
    transition: var(--scale);
}

#TheBlog {
    background-image: url('../images/smallTheBlog2.png');
    width: 275px;
    height: 66px;
    box-shadow: var(--shadow);
}

.nav_button:hover {
    transform: translate(-.1rem, -.1rem);
    opacity: 80%;
    text-shadow: var(--text-shadow);
    transition: var(--scale);
    cursor: pointer;
}

.nav_button:active {
    transform: translate(-.1rem, -.1rem);
    opacity: 100%;
    transition: var(--scale);
}

.join_button {
    padding: 15px 20px;
    color: var(--font-color);
    background-color: var(--inverse-font);
    border: none;
    margin: 10px;
    box-shadow: var(--shadow);
    font-weight: 900;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.component {
    width: 75%;
    background-color: var(--shadow);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3px;
}

.opaquish {
    background-color: #00000096;
    backdrop-filter: blur(6px);
    padding: 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 5%;
    max-width: 1000px;
    gap: 10px;
    color: white;
    text-shadow: var(--text-shadow);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
    background-color: var(--font-color);
}

.card_header p {
    margin-left: auto;
}

.card_body {
    margin-bottom: 30px;
    padding: 15px;
    color: white;
    background: black;
    backdrop-filter: blur(50px);
}

.entrySection {
    display: block;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two_section {
    margin-left: -10%;
    width: 100%;
    max-width: 1980px;
    font-size: 40px;
    margin-left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two_section_p {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    font-weight: 700;
    color: white;
    text-shadow: var(--text-shadow);
}

.ts_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    margin-top: 70vh;
    margin-left: 100px;
    width: 80%;
}

.ts_text button {
    color: black;
    padding: 20px 30px;
    background-color: var(--inverse-font);
    border: none;
    margin-top: 25px;
    font-weight: 900;
    width: 666px;
    font-size: xxx-large;
    white-space: nowrap;
    box-shadow: var(--shadow);
}

.ts_feed {
    width: 75%;
    margin-right: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25%;
    border: none;
}

.ts_feed li {
    flex: 1;
    margin: 2%;
}

.trending {
    background-color: rgba(250, 250, 250, 0.829);
    width: 100%;
    margin-top: 10px;
}

.feed {
    margin: 0% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.blog_feed {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    border: none;
    gap: 10px;
    padding: 10px;
    width: 80vw;
}

#feed_the_blog {
    color: white;
    font-weight: 999;
    font-style: italic;
    font-size: xxx-large;
    text-shadow: var(--text-shadow);
}

.dashboard {
    color: white;
    text-shadow: var(--text-shadow);
}

#new_blog_title {
    background-color: var(--background);
    width: 100%;
    border: none;
    padding: 5px;
    height: 40px;
}

#new_blog_title::placeholder, input, select, textarea {
    color:var(--inverse-font);
    font-size: 20px;
    font-weight: 600;
}

#new_blog_content {
    color: var(--font-color);
    width: 100%;
    border: none;
    height: 40px;
}

.opaquish_textblock {
    background-color: rgb(4 4 4 / 70%);
    backdrop-filter: blur(6px);
}

textarea {
    width:100%; 
    margin: 5px 0px; 
    color: var(--font-color);
    border: none;
}

#new_user_signup {
    cursor: pointer;
}

#already_have_account {
    cursor: pointer;
}


@media screen and (min-width: 1980px){
    body {
        background-size: 100%;
    }
}


@media screen and (max-width: 880px) {
    .nav_bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_bar a {
        margin-bottom: 10px;
    }

    .two_section {
        flex-direction: column;
    }

    .ts_text {
        margin-top: 55%;
        align-items: center;
        justify-content: center;
    }

    .ts_feed {
        display: none;

    }

    .card_header {
        flex-direction: column;
        text-align: center;
    }
}